.contact {
    padding: 100px 15px;
    background: var(--bg-color);
    color: black;
}

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
    color: white;
    text-shadow: 0 0 25px var(--main-color);
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        text-shadow: 0 0 25px var(--main-color);
    }

    50% {
        text-shadow: 0 0 50px var(--main-color),
            0 0 100px var(--main-color);
    }
}

.heading span {
    color: var(--main-color);
}

.contact h2 {
    margin-bottom: 3rem;
    color: white;
}

.contact form {
    max-width: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.contact form .btn-submit {
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer
}

.btn-submit:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}