<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me</span></h2>
    
    <form action="https://formsubmit.co/34ebf2e2fa35b1f9bb87093aedfa5ba1" method="POST">
        <div class="input-group">
            <div class="input-box">
                <input type="text" name='nombre' placeholder="Full Name">
                <input type="email" name='email' placeholder="email">
            </div>
            <div class="input-box">
                <input type="number" name='numero' placeholder="Phone Number">
                <input type="text" name='asunto' placeholder="Subject">
            </div>
        </div>
        <div class="input-group-2">
            <textarea name="mensaje" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn-submit">
        </div>
    </form>

</section>

<app-footer></app-footer>