<section class="experience" id="experience">

    <h2 class="heading">Experience</h2>

    <div class="experience-container">
        <div class="experience-box">
            <div class="experience-info">
                <h4>FULL STACK DEVELOPER | ACCENTURE</h4>
                <h3> (JUL 2023 - ACTUALIDAD)</h3>
                <p>Desarrollo, implementación y mantenimiento de nuevas funcionalidades y componentes front-end 
                    y back-end de la aplicación Web ICBC/Multipay Argentina. 
                </p>
            </div>
        </div>

        <div class="experience-box">
            <div class="experience-info">
                <h4>FULL STACK DEVELOPER | BP4</h4>
                <h3>(DIC 2021 – JUL 2023)</h3>
                <p>Referente Técnico de la célula de Issues Productivos  encargada del análisis y resolución de Issues 
                    de la aplicacion ICBC/Multipay Argentina. 
                </p>
            </div>
        </div>

        <div class="experience-box">
            <div class="experience-info">
                <h4>JUNIOR SYSTEM ENGINEER | INDRA </h4>
                <h3>(MAY 2021 – DIC 2021)</h3>
                <p>Migración, actualización y rediseño de aplicaciones de tecnologías en desuso (ATUIN/INS/FLEX/FLASH) 
                    a un stack tecnológico compuesto por JDK6, Spring Boot, JSP, JS, Bootstrap y jquery.
                </p>
            </div>
        </div>

        <div class="experience-box">
            <div class="experience-info">
                <h4>DISEÑADOR WEB | I.E. HENRYCLAY </h4>   
                <h3>(NOV 2020)</h3>
                <p>Diseño y creación de página Web, aportando los servicios de compra de dominio, hosting (Vultr) 
                    y diseño Web, creando una instancia de WordPress configurada en una pila LEMP 
                    (Linux, Nginx, MySQL y PHP) en un servidor  de Ubuntu 18.04. 
                </p>
                <a href="https://henryclay.edu.ve/">https://henryclay.edu.ve/</a>
            </div>
        </div>

    </div>

</section>