/* You can add global styles to this file, and also import other style files */
*{
    /* color-scheme: light dark; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #39FF14;

    /* OPCIONES DE COLORES */
    --electricBlue: #00FFFF;
    --neonGreen: #39FF14;
    --vividPurple: #9F00FF;
    --hotPink: #FF69B4;
    --laserYellow: #FFFF66;
    
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bwg-color);
    width: 50px;
}
